* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
	--branco-principal: #FFFFFF;
	--cinza-sencundario: #C0C0C0;
	--btn-azul: #167BF7;
	--btn-efeito: #3c92fa;
	--btn-efeito-vermelho: #c91515cf;
	--cor-de-fundo: #00030C;
}

body {
	background-color: var(--cor-de-fundo);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.principal {
	background: url(assets/img/Background.png) no-repeat;
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
	text-align: center; 
}

.container__titulo {
	color: var(--branco-principal);
	font-size: 32px;
	font-weight: 700;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.container__imagem {
	margin: 1em 0 2em 0;
}

.container__btn {
	background-color: var(--btn-azul);
	border-radius: 5px;
	color: var(--branco-principal);
	display: block;
	padding: 1em;
	text-decoration: none;
	text-align: center;
	margin-bottom: 1em;
}

.container__btn:hover {
	background-color: var(--btn-efeito);
	color: var(--cor-de-fundo);
}

.btn-2 {
	background-color: transparent;
	border: 2px solid var(--branco-principal);
}

.btn-2:hover {
	border: 2px solid var(--btn-efeito-vermelho);
	color: var(--btn-efeito-vermelho);
	background-color: var(--branco-principal);
}

.container__aviso {
	font-size: 12px;
	color: var(--cinza-sencundario);
	text-align: center;
}

.container__caixa {
	margin: 0 6em;
	width: 30vw;
	align-items: center;
	justify-self: center;
}

.secundario {
	align-items: center;
	margin: 0 10em;
}

.secundário__imagem {
	width: 80%;
}

.descricao__titulo {
	color: var(--branco-principal);
}

.descricao__titulo {
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 0.1em;
}

.descricao__texto {
	color: var(--cinza-sencundario);
}

.secundario__btn {
	display: inline-block;
	margin-top: 1em; 
}

.container__descricao {
	padding: 2em;
}

.dispositivos__titulo {
	font-size: 48px;
	color: var(--branco-principal);

}

.dispositivos__lista {
	display: flex;
	font-size: 32px;
	justify-content: center;
	list-style-type: none;
	margin: 3.5em 0;
}

.dispositivos {
	text-align: center;
}

.lista__item {
	color: var(--branco-principal);
	font-weight: 700;
	font-size: 32px;
}

.rodape {
	text-align: center;
	margin: 5em 3em;
}

.rodape__logo {
	margin-bottom: 41px;
}

.rodape__lista {
	display: flex;
	font-weight: 400;
	gap: 16px;
	justify-content: center;
	line-height: 24px;
}

.rodape__lista a {
	text-decoration: none;
	color: var(--branco-principal);
}

.rodape__texto {
	color: var(--cinza-sencundario);
	font-size: 14px;
	margin: 24px 0;
}

.rodape__link a:hover{
	color: var(--btn-azul);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
